<a href="https://colab.research.google.com/github/Astgit18/IntroductionToComputing-21101029-/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7]
a = [i **2 for i in numbers]
print(a)

[1, 4, 9, 16, 25, 36, 49]

In [6]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
a = [i+j for i in list1 for j in list2]
print(a)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [10]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for i in range(len(list1)):
  print(list1[i], list2[-(1+i)])

10 400
20 300
30 200
40 100

In [11]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for x, y in zip(list1, list2[::-1]):
    print(x, y)

10 400
20 300
30 200
40 100

In [14]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
for i in range (list1.count("")): 
 list1.remove("")
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

In [15]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

# remove None from list1 and convert result into list
res = list(filter(None, list1))
print(res)

['Mike', 'Emma', 'Kelly', 'Brad']

In [19]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [21]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [23]:
list1 = [5, 10, 15, 20, 25, 50, 20]
list1[3]= 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [24]:
list1 = [5, 20, 15, 20, 25, 50, 20]
for i in range (list1.count(20)): 
 list1.remove(20)
print(list1)

[5, 15, 25, 50]